<div class="blend-card">
    <h3 class="blend-name">@Blend.Name</h3>
    <div class="blend-details">
        <div class="blend-detail"><span class="label">Pražírna:</span> @Blend.Roaster</div>
        @if (!string.IsNullOrEmpty(Blend.Origin))
        {
            <div class="blend-detail"><span class="label">Původ:</span> @Blend.Origin</div>
        }
        <div class="blend-detail"><span class="label">Pražení:</span> @Blend.RoastLevel.ToDisplayString()</div>
        <div class="blend-detail"><span class="label">Dodavatel:</span> @Blend.Supplier.Name</div>
    </div>
    @if (!string.IsNullOrEmpty(SessionComment))
    {
        <div class="blend-comment">@SessionComment</div>
    }
</div>

@code {
    [Parameter, EditorRequired] public CoffeeBlend Blend { get; set; } = null!;
    [Parameter] public string? SessionComment { get; set; }

}
